/* HTML5/CSS3, EDGE/CHROME                            *** Gallery-Image.css ***

 ******************************************************************************
 * ittve.me            Определить стили галлереи, определить стили для показа *
 *         изображения, выбранной в галерее картинки, на отдельной странице в *
 *                                       ее рамках или в натуральную величину *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 18.11.2020
*/

/**
 *  Cтили картинок, изображений в галлерее
**/
#NewGallery
{
   background:transparent;
   align-items:center;
}
.Card, .bCard, .imgCard, .pCard, .taCard
{
   background:transparent;
}
.Card
{
   border:.4rem double gray;
   margin-bottom:.2rem;  
}
.bCard
{
   cursor:pointer;
   margin:0;
	padding:.1rem; 
   border:0;
}
.imgCard
{
   width:100%;
}
.pCard, .taCard 
{
   font-size:1rem; 
   text-align:center;
   margin:0;
	padding:.1rem; 
   border:0;
}
.taCard
{
   height:10rem;
   width:100%;
}
.Card:hover 
{
   color: #993300; 
   font-weight: 600;
}
/*
 ******************************************************** Gallery-Image.css ***
*/	
	

