/** HTML5/CSS3, EDGE/CHROME                                  *** Styles.css ***

 ******************************************************************************
 * KwinTiny         Определить стили документа за границами области редактора *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 10.02.2019
*/

/** 
  Определяем базовый шрифт 
*/
html
{
   font-family:'Anonymous Pro',monospace;
   font-size:16px;
}
/** 
  Устанавливаем размеры шрифтов по умолчанию 
*/
body 
{
   height: 100%;
   font-size:1rem; 
}
/** 
  Выравниваем 
*/
html, body, .Info, .Header, .WorkTiny, .Messages, .Footer
{
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
/**
  Для отладки расскрашиваем дивы
*/
body{background:aqua;} 
.Info{background:yellow;}
#NewGallery{background:magenta;}
.Header,.Footer{background:red;}
.WorkTiny{background:gray;}
.Messages{background:green;}
.LeftFooter{background:purple;}
.RightFooter{background:olive;}
/**
  Позиционируем секции редактора
*/
.Info, .Footer
{
   position:fixed; 
   width:69.7%;
}
.Info
{
   top:0;
   left:0;
   height:91.7%;
   float:left;
}
/**
  Позиционируем секции подвала
*/
.Footer
{
   height:8%;
   bottom:1rem;
   left:0;
}
#KwinLogo
{
	/*display:block;
   height:8%;*/
   /*width:100%;*/
}
.LeftFooter
{
   height:100%;
   width:24%;
   float:left;
}
.RightFooter
{
   height:100%;
   width:76%;
   float:right;
}
/**
  Форматируем содержимое
*/
.Header
{
   font-size:1rem;
   font-weight:bold; 
   background:transparent; 
   text-align:center;
}
#NewGallery
{
   float:right;
   width:30%;
}

/*
 *************************************************************** Styles.css ***
*/	
	

